<html>

<head>
	 
    <body>

        <style>

body{

background-image:url("img/back2.png");

background-size:1600px 1500px;
opacity:0.9;
background-position:left;
background-repeat:no-repeat;
justify-content: center;
font-family: 'Dosis', sans-serif;
border-radius: 15px

}
div {

    padding: 2em;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    margin-right: 150px;		margin: auto;
    margin-left: 80px;			margin:150px;
    background-color: White	;
}     
                    
        
        </style>



    </body>
   
    <div align="center">

<h1 style="color:DarkSlateGrey;">Validate OTP(One Time Passcode)<h1>
<HR width=1000px>
<p2 style="color:DarkSlateGrey;">An OTP has been sent to your email for verification:</p2>
<br><br>
<form method="GET "action="/acknowledge">
<input type="text" name="otp" style="background-color: lightgray; border-radius: 5px; height: 30px;border:none;outline: none; " placeholder="             Enter OTP">
<input type="Submit"  style="background-color: lightgray;border-radius: 5px; height: 30px;border:none;outline: none; " placeholder="Submit" >
</form>
</div>
    
</head>
</html>
