<html>

<head>


    <body>
        <div class="container">

<form action="/postad" method="GET">

    <input type="text" name="model" placeholder="Enter model">
    <input type="text" name="company" placeholder="Enter company">
    <input type="text" name="phno" placeholder="Enter Phone Number">
    <input type="text" name="price" placeholder="Enter Price">
    <input type="file" name="image" placeholder="Attch image" value="Attach the recent page of the cycle">
    <input type="submit" value="submit">

</form>

        </div>



    </body>
</head>
</html>